body {
  margin: 0;
  font-size: 16px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

* {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

button {
  padding: 0;
  background-color: inherit;
  border: none;
  color: #fff;
}

h1,
h2 {
  margin: 0;
}

.app {
  display: flex;
  flex-direction: row;
}

/* sidebar styling */

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #1e1e1e;
  padding: 40px 25px;
  box-shadow: 0px 0px 70px 1px rgba(121, 116, 204, 0.2);
  position: fixed;
  z-index: 1;
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden;
}

.title-small {
  color: #fff;
  margin-bottom: 35px;
  transition: padding-left 400ms ease-out;
  display: flex;
}

.title-small:hover {
  padding-left: 15px;
}

.logo {
  color: #fff;
  margin-bottom: 70px;
  text-transform: uppercase;
  font-weight: 600;
}

.title-small button {
  margin-left: 10px;
}

/* content styling */
.content {
  width: 100%;
  margin-left: 300px;
  background-color: #1e1e1e;
  overflow: hidden;
}

/* poster styling */
.poster {
  background-image: linear-gradient(
      rgba(36, 36, 36, 0.2),
      rgba(36, 36, 36, 0.5)
    ),
    url("./img/poster.jpg");
  background-size: cover;
  background-position: center;
  height: 50vh;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 40px;
  color: #fff;
}

.header ul {
  display: flex;
  flex-direction: row;
}

.header-item {
  margin-right: 35px;
  cursor: pointer;
}

.header-item:hover {
  color: #dcdcdc;
}

.poster-info {
  padding: 20px 40px;
}

.poster-title {
  color: #fff;
  font-size: 48px;
  font-weight: 600;
}

.poster-details {
  color: #fff;
  font-size: 14px;
  margin-bottom: 15px;
}

.btn-container {
  display: flex;
  align-items: center;
}

.btn-main {
  color: #fff;
  padding: 10px 20px;
  border-radius: 12px;
  background: #4c4cae;
  margin-right: 15px;
  transition: background 200ms ease-in-out;
}

.btn-main:hover {
  background: #6161dc;
}

.like {
  color: #4c4cae;
  display: inline-flex;
  padding: 10px;
  background: #fff;
  border-radius: 12px;
}

.trending, .coming {
  padding: 20px 40px;
  color: #fff;
  text-transform: capitalize;
}

.title {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.5px;
}

.card {
  margin-top: 20px;
  width: 190px;
  height: 230px;
  border-radius: 20px;
  background: url("./img/barbie.png");
  background-size: cover;
  position: relative;
}

.card-info {
  width: -webkit-fill-available;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(3px);
  border-radius: 0px 0px 20px 20px;
  position: absolute;
  bottom: 0;
  padding: 15px 16px;
  transform: translateY(15%);
  transition: transform 500ms ease-in-out;
  opacity: 0;
}

.card:hover .card-info {
  transform: translateY(0);
  opacity: 1;
}

.card-title {
  color: #1e1e1e;
  font-weight: 600;
  margin-bottom: 5px;
}

.card-details {
  color: #1e1e1e;
  font-size: 12px;
}

.movie-list-container {
  width: 100%;
  overflow-x: auto;
   overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.movie-list {
  display: inline-flex;
  gap: 20px;
  list-style: none;
}
